
{% load socialaccount %}
{% load static %}

{% block title %}Iniciar Sesión - Club de la Comuna{% endblock %}

<main>
    <section class="login-section d-flex">

        <a href="/accounts/google/login/" class="btn btn-outline-dark btn-lg mb-4 d-flex align-items-center" style="width: 80%;">
            <img src="{% static 'core/images/Google.jpeg' %}" alt="Google Logo" style="width: 20px; height: 20px;" class="me-2">
            Continúa con Google
        </a>
        
        
    </section>
</main>

