{% extends 'core/base.html' %}
{% load static %}

{% block title %}Club de la Comuna - Como Unirse{% endblock %}

{% block content %}
<main>
    <section class="negocios-section d-flex">
        <!-- Lado izquierdo: Negocios Socios -->
        <div class="club-info d-flex flex-column align-items-center justify-content-center text-white p-5" style="flex: 1; background: linear-gradient(to bottom, #FF7F00, #555);">
            <h1 class="text-center mb-4">Negocios Locales</h1>
            <p class="text-center fs-4 mb-5">Envía tus datos a <strong>SOPORTE_CLIENTE@GMAIL.COM</strong> para ser socio del Club.</p>
            <div class="icon mt-auto mb-3">
                <img src="{% static 'core/images/local_adherido.PNG' %}" alt="Icono Club" style="width: 205spx; height: 150px;">
            </div>
        </div>

        <!-- Lado derecho: Clientes Socios -->
        <div class="club-info d-flex flex-column align-items-center justify-content-center text-white p-5" style="flex: 1; background: linear-gradient(to bottom, #333, #555);">
            <h1 class="text-center mb-4">Clientes</h1>
            <p class="text-center fs-4 mb-5">Inicia sesión con tu correo gmail para que puedas obtener la Tarjeta de Socio del Club.</p>
            <div class="icon mt-auto mb-3">
                <img src="{% static 'core/images/tarjeta_virtual.jpg' %}" alt="Icono Club" style="width: 205spx; height: 150px;">
            </div>
        </div>
    </section>
</main>
{% endblock %}
