{% extends 'core/base.html' %}
{% load static %}

{% block title %}Acerca de Club{% endblock %}

{% block content %}
<main>
    <section class="about bg-black py-5 text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">¿Qué es el Club de la Comuna?</h2>
                    <p style="text-align: justify;"> El Club de la Comuna es una plataforma digital que busca fidelizar clientes, visibilizar el comercio local con el objetivo de aumentar ventas a través de campañas publicitarias exclusivas proporcionando beneficios para nuestras comunidades.</p>
                    <p style="text-align: justify;">Con nuestras suscripciones premium, los usuarios pueden obtener beneficios adicionales y participar en promociones únicas. Estamos dedicados a promover y apoyar a las pymes locales mientras creamos un espacio inclusivo y accesible para todos.</p>
                    <a href="{% url 'como_unirse' %}" class="btn btn-danger btn-lg mt-4">Únete al Club</a>
                </div>
                <div class="col-md-6 img-container" style="flex: 2; max-width: 60%;">
                    <img src="{% static 'core/images/el_club.png' %}" class="img-fluid rounded" alt="Club de la Comuna" style="width: 200%; height: 300px;">
                </div>
            </div>
        </div>
    </section>
   
    
    <!-- Nueva sección de Beneficios -->
    <section class="bg-white py-5 text-black">
        <div class="container">
            <h2 class="text-center mb-4">Beneficios de Unirse al Club</h2>
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fas fa-bullhorn fa-2x mb-3 text-danger"></i>
                    <h4>Mayor visibilidad</h4>
                    <p>Publicidad para tu negocio en nuestras plataformas, alcanzando más clientes locales.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-tags fa-2x mb-3 text-danger"></i>
                    <h4>Ofertas exclusivas</h4>
                    <p>Acceso a promociones únicas y beneficios exclusivos para nuestros socios.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-handshake fa-2x mb-3 text-danger"></i>
                    <h4>Comunidad local</h4>
                    <p>Forma parte de una red de pymes que trabajan en conjunto para crecer.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de redes sociales -->
    <section class="bg-dark py-5 text-white">
        <div class="container">
            <h2 class="text-center mb-4">Nuestra Misión</h2>
            <p class="text-center">Nuestra misión es crear una comunidad conectada que beneficie tanto a las pymes locales, como a sus clientes, ofreciendo beneficios auténticos y sostenibles que fomenten la lealtad y el crecimiento mutuo.</p>
        </div>
    </section>

    <section class="bg-white py-5 text-black">
        <div class="container">
            <h2 class="text-center mb-4">Nuestra Visión</h2>
            <p class="text-center">Seguir creando contenido de valor en beneficio a la comunidad. Actualmente, el Club de la Comuna se encuentra activo en la comuna de Macul, y en plan a corto plazo de expansión a comunas como Ñuñoa, Peñalolén, y La Florida. Nuestro objetivo es estar presentes en 10 comunas para el año 2025 y expandirnos a nivel nacional en los próximos 10 años.</p>
        </div>
    </section>

</main>
{% endblock %}