{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>
        <section class="business-list bg-black py-5 text-white">
            <div class="container d-flex align-items-center justify-content-between">
                <div class="content" style="flex: 1;">
                    <h1 class="mb-3">Club de la Comuna</h1>
                    <h5 class="mb-4 text-white">"Beneficios de verdad para la comunidad"</h5>
                    <br>
                    <a href="{% url 'como_unirse' %}" class="btn btn-danger btn-lg mb-3">¿Cómo unirte al Club?</a>
                    <!-- (Conectar al final con la BD)
                    <div class="d-flex">
                        <div class="me-3 text-center">
                            <h4>9K +</h4>
                            <p class="text-white">Negocios Locales Socios</p>
                        </div>
                        <div class="text-center">
                            <h4>500K+</h4>
                            <p class="text-white">Clientes Inscritos</p>
                        </div>
                    </div> -->
                </div>
                <div class="video ms-auto embed-responsive embed-responsive-16by9" style="flex: 3; max-width: 50%;"> 
                    <!-- Video de YouTube -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GVdLX0Jv_6Y" title="YouTube video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 90%; height: 300px;"></iframe>
                </div>
            </div>            
        </section>

        <!-- Sección de Negocios con Ofertas Activas -->
        <section class="offers bg-white py-5 text-center text-black">
            <div class="container">
                <h2 class="text-center mb-4">Accede a Ofertas Exclusivas para Socios del "Club"</h2>
                <div id="offerCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for grupo in grupos_negocios %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row">
                                {% for negocio in grupo %}
                                {% if negocio %}
                                <div class="col-md-4">
                                    <div class="card h-100 text-center p-3 shadow-lg rounded hvr-grow" data-aos="fade-up">
                                        {% if negocio.imagen %}
                                            <img src="{{ negocio.imagen.url }}" class="card-img-top rounded-top" alt="{{ negocio.nombre }}">
                                        {% else %}
                                            <img src="{% static 'core/images/default.jpg' %}" class="card-img-top rounded-top" alt="{{ negocio.nombre }}">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ negocio.nombre }}</h5>
                                            <p class="card-text"><i class="fas fa-map-marker-alt"></i> Dirección: {{ negocio.direccion }}</p>
                                            <p class="card-text"><i class="fas fa-tag"></i> Oferta: {{ negocio.oferta.nombre }}</p>
                                            <p class="card-text">{{ negocio.oferta.descripcion }}</p>
                                            <p class="card-text"><i class="fas fa-calendar-alt"></i> Desde el {{ negocio.oferta.fecha_inicio }}<br>Hasta el {{ negocio.oferta.fecha_fin }}</p>
                                        </div>
                                    </div>                                   
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Controles del carrusel -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#offerCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#offerCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
                <br>
                <div class="text-center mt-4">
                    <a href="{% url 'negocios_con_ofertas' %}" class="btn btn-danger">Ver todas las Ofertas</a>
                </div>        
            </div>
        </section>   
        

        <section class="business-list bg-black py-5 text-white">
            <div class="container">
                <h2 class="text-center mb-4">Conoce Negocios Locales Socios del "Club"</h2>  
                <div class="row g-4">
                    {% for negocio in negocios_premium %}
                        <div class="col-md-4">
                            <div class="card h-100 bg-light">
                                {% if negocio.imagen %}
                                    <img src="{{ negocio.imagen.url }}" class="card-img-top" alt="{{ negocio.nombre }}">
                                {% else %}
                                    <img src="{% static 'core/images/default.jpg' %}" class="card-img-top" alt="{{ negocio.nombre }}">
                                {% endif %}
                                <div class="card-body">
                                    <h3 class="card-title">{{ negocio.nombre }}</h3>
                                    <p class="card-text">{{ negocio.descripcion }}</p>
                                    <p class="card-text">Dirección: {{ negocio.direccion }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>                
                <br>
                <div class="text-center mt-4">
                    <a href="{% url 'negocios' %}" class="btn btn-danger">Ver todos los Negocios</a>
                </div>                
            </div>
        </section>

        <section class="map-section py-5">
            <div class="container">
                <h2 class="text-center mb-4">Ubicación de Negocios</h2>
                <div id="map" style="height: 400px; width: 100%;"></div>
            </div>
        </section> 
        
        <div id="map"></div>
          

    </main> 
    <!-- 


 -->



 <script
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPvNQMlfn8E0sUP2GqAWg_lrajGdEM_wg&callback=initMap&libraries=places&v=weekly"
 defer>
</script>
    <script src="{% static 'core/scripts.js' %}">
        
    </script>

    {% endblock %}
